# Binarios
*.exe
*.exe~
*.dll
*.so
*.dylib
ejercicio-api
ejercicio-api.exe
app

# Test binary
*.test

# Output
*.out

# Dependencias
vendor/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Air (hot reload)
tmp/
build-errors.log

